@import 'variables';

%button {
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 15px 30px;
  text-decoration: none;
  transition: all .3s ease-out;
}

.button-outline {
  @extend %button;
  background: transparent;
  border: 4px solid $white;
  color: $white;

  &:hover {
    background: $white;
    color: $orange-0;
  }
}

.button-solid {
  @extend %button;
  background: $white;
  border: 0;
  color: $orange-0;

  &:hover {
    background: $orange-20;
    color: $white;
  }
}

.button-orange-10 {
  color: $orange-10;

  &:hover {
    background: $red-0;
  }
}

%textbox {
  font-family: 'Geomanist';
}

.textbox-line {
  @extend %textbox;
  background: transparent;
  border: 0;
  border-bottom: 4px solid $white;
  color: $white;
  max-width: 400px;
  width: 100%;
}
