@import 'variables';

.player {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  width: 100%;

  &--thumbnail {
    border: 15px $white solid;
    border-bottom: 50px $white solid;
    border-radius: 3px;
    box-shadow: 0 1px 2px $shadow;
    box-sizing: content-box;
    display: block;
    margin: 0 auto;
    max-height: 250px;
    max-width: 100%;
  }

  &--song {
    margin: 20px 0 30px;
  }

  &--controls {
    .control {
      cursor: pointer;
      transition: all .1s ease-out;
      vertical-align: middle;
    }

    .control:hover {
      transform: scale(1.1);
    }

    .control-side {
      height: 40px;
    }

    .control-center {
      height: 60px;
      margin: 0 70px;
    }
  }

  .rc-slider {
    margin: 40px auto;
    max-width: 300px;
    padding: 15px 0;
  }

  .rc-slider-rail {
    background: $white;
    height: 5px;
    top: 50%;
    transform: translateY(-50%);
  }

  .rc-slider-track {
    background: $red-0;
    height: 5px;
    top: 50%;
    transform: translateY(-50%);
  }

  .rc-slider-handle {
    background: $red-0;
    border: 0;
    height: 30px;
    margin: 0 0 0 -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
  }
}
